/*
variables
(so we don't have to keep typing the same hex codes 
and sizes over and over!)
--------------------------------------------------------
*/
:root {
	/* colors */
	--main_text_color: #2C2C2C;
	--light_accent_text_color: #818ceb;
	--med_accent_text_color: #606ee6;
	--dark_accent_text_color: #646AD8;
	--soft_text_color: #8C8C8C;
	--soft_border_color: #CCC;

	--bg_color_1: #FFF;
	--bg_color_2: #848EE6;
	--bg_color_3: #EBCCF0;
	--pink_color: #C11ADD;

	--button_color: #FFFF80;
	--button_shadow: #F2F240;
	--chill_button: #3646D9;
	--button_soft_shadow: #F4F4F4;
	--button_softest_shadow: #DDDDDD;
	--button_border_color: #666;

	/* type */
  --comfy_font_size: 26px;
  --font_serif: "Avenir Next", "nunito-sans", sans-serif;
  --font_mono: "monaco", "source-code-pro", monospace;
  --lead: 1.35;

  /* dimensions */
  --space: calc(var(--lead) * 1em);
}

/*
webfonts
--------------------------------------------------------
*/
@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: normal;
	src: local('Nunito Sans'),
			 url('fonts/nunitosans-regular.woff2') format('woff2'),
			 url('fonts/nunitosans-regular.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: italic;
	src: local('Nunito Sans'),
			 url('fonts/nunitosans-italic.woff2') format('woff2'),
			 url('fonts/nunitosans-italic.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 800;
	font-style: normal;
	src: local('Nunito Sans Extrabold'),
			 url('fonts/nunitosans-extrabold.woff2') format('woff2'),
			 url('fonts/nunitosans-extrabold.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 900;
	font-style: normal;
	src: local('Nunito Sans Black'),
			 url('fonts/nunitosans-black.woff2') format('woff2'),
			 url('fonts/nunitosans-black.woff') format('woff');
}

@font-face {
	font-family: "source-code-pro";
	font-weight: 400;
	font-style: normal;
	src: local('Source Code Pro'),
			 url('fonts/sourcecodepro-regular.woff2') format('woff2'),
			 url('fonts/sourcecodepro-regular.woff') format('woff');
}

/*
base styles
--------------------------------------------------------
*/
/*
global
----------------------------
*/
/* apply a natural box model to everything */
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
button,
textarea,
input {
	/* force grayscale antialiasing globally */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	/* enable kerning and ligatures globally */
  text-rendering: optimizeLegibility;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
	font-family: var(--font_serif);
	font-size: 1em;
	letter-spacing: 0.015em;
	line-height: var(--lead);
	color: var(--main_text_color);

	margin: 0;
}

/*
typography
----------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-weight: 900;
	letter-spacing: 0.53px;
}

h2 {
	color: var(--med_accent_text_color);
	letter-spacing: 0.68px;
}

h3 {
	color: var(--med_accent_text_color);
	font-weight: initial;
	font-family: var(--font_mono);
	font-weight: initial;
}

p,
ul,
ol {
	font-size: 20px;
}

p {
  margin: 0 0 var(--space);
}

ul,
ol {
  margin: 0 0 var(--space);
}

/*v*/
a {
	color: var(--dark_accent_text_color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--soft_border_color);
	border-radius: 2px;
}

input:disabled {
	color: var(--soft_border_color);
}

input[type="range"] {
	height: 0;
}

.button {
	background-color: var(--button_soft_shadow);
	outline: none;
}

.button:active {
	background-color: var(--button_softest_shadow);
}

.button:focus {
	border-color: var(--button_border_color);
}

/** main button styles **/
a.button {
	/** positioning **/
	position: relative;
	top: 0;
	margin-top: 0;
	margin-bottom: 10px;

	/** make a.button look pretty **/
	display: inline-block;
	text-align: center;
	padding: 10px 24px;
	min-width: 4em;
	background-color:	var(--button_color); /* Yellow */
	border: none;
	border-radius: 12px;
	cursor: pointer;
	opacity: 0.83;


	/** 3D Block Effect **/
	box-shadow: 0 10px 0 0 #F2F240;

	/* a.button text */
	font-size: 18px;
	font-weight: 900;
	color: #3646D9;
}

a.button:hover {
	opacity: 1;
	text-decoration: none;
}

a.button:active {
	/** Remove 3D Block Effect on Click **/
	box-shadow: none;
	top: 10px;
	margin-bottom: 0;
}

a.button:active,
a.button:focus {
	/** Remove Chrome's Ugly Yellow Outline **/
	outline: 0;
}

/* dotted button */

a.dotted {
	padding: 13px 25px;
	background-color: transparent;
	border-radius: 30px;
	border: 2px dashed rgba(255, 255, 255, 0.44);
	margin: 1em 0 0;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	color: #FFF;
}
a.dotted:hover {
	border: 2px dashed #fff;
	background-color: rgba(111, 123, 230, 0.62);
}

a.dark {
	color: var(--dark_accent_text_color);
	border-color: var(--dark_accent_text_color);
}


article {
	padding: 2em 2em 1em 2em;
	margin: auto;
        max-width: 960px;
        font-size: var(--comfy_font_size);
}

nav {
	/* positioning nav */
	position: absolute;
	width: 100%;
	left: 0;

	display: flex;
	justify-content: flex-end;
	margin-right: 3rem;

	background: white;

	--navPadding: 1em 2em;
}

nav a {
	color: #8c8c8c;
	font-size: 20px;
	font-weight: bold;
	padding: var(--navPadding);
}
nav a:hover {
	color: #666;
	text-decoration: none;
}

@media all and (max-width: 554px) {
	nav {
		justify-content: center;
	}
	nav a {
		/* type */
		--navPadding: 5%;
	}
}

/*
components
--------------------------------------------------------
*/
/*
bulletin
----------------------------
*/
.bulletin {
	/* dimensions */
	--width: 66.55em;
	--gutter: 5em;

	/* type */
	/* we'll set font-size in px so that computing em values is straightforward */
	--alpha: 49px;
	--beta: 45px;
	--gamma: 35px;
	--delta: 20px;

	/*--lead: 1.178;*/
}

/* reduce font-size as viewport narrows */
@media all and (max-width: 980px) {
	.bulletin {
		/* type */
		--alpha: 40px;
		--beta: 36px;
		--gamma: 28px;
	}
}

@media all and (max-width: 660px) {
	.bulletin {
		/* type */
		--alpha: 32px;
		--beta: 29px;
		--gamma: 22px;
		--delta: 16px;
	}
}

.bulletin {
	/* include horizontal padding in overall width */
	max-width: calc(var(--width) + (var(--gutter) * 2));

	/* we establish the base font-size for the component here, which will be equal to 1em from here on */
	font-size: var(--delta);
	line-height: 1.35;
	color: var(--dark_accent_text_color);

	padding: 0 var(--gutter) 4em;
	margin: 0 auto;
}

.bulletin h2,
.bulletin h3,
.bulletin h4 {
	line-height: 1.163;
	margin: 0;
}

.bulletin h2 {
	font-size: var(--alpha);
	font-weight: 900;
	color: var(--main_text_color);
	margin-bottom: 0.857em;
}

.bulletin h3 {
	font-family: var(--font_serif);
	font-weight: 900;
	font-size: var(--beta);
	color: var(--med_accent_text_color);
	margin-bottom: 0.933em;
}

.bulletin p {
	margin: 0;
}

.bulletin img {
	display: block;
	width: 100%;
}

.bulletin a {
	transition: opacity 0.2s ease;
}

.bulletin a:hover {
	opacity: 0.86;
}

/* header */
.bulletin--header {
	text-align: center;
	padding-top: 6em;
	margin-bottom: 5.8em;
}

.bulletin--header p {
	font-family: var(--font_serif);
	font-size: var(--gamma);
	color: var(--dark_accent_text_color);
	text-align: center;
}

@media all and (max-width: 980px) {
	.bulletin--header {
		margin-bottom: 5em;
	}
}

/* grid */
.bulletin--grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

@supports (display: grid) {
	.bulletin--grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-column-gap: 2.65em;
		grid-row-gap: 1.5em;
	}
} 

.bulletin--item {
	width: calc((100% / 3) - (2.65em / 2));
	margin: 0;
}

	@supports (display: grid) {
		.bulletin--item {
			width: auto;
		}
	}

.bulletin--item a {
	display: block;
}

.bulletin--caption {
	padding-top: 1.1em;
}

.bulletin--caption p {
	font-family: var(--font_mono);
	font-size: var(--delta);
	color: var(--dark_accent_text_color);
	margin-bottom: var(--space);
}

@media all and (max-width: 980px) {
	.bulletin--item {
		width: calc((100% / 2) - (2.65em / 2));
	}

	@supports (display: grid) {
		.bulletin--grid {
			grid-template-columns: 1fr 1fr;
		}

		.bulletin--item {
			width: auto;
		}
	}
}

@media all and (max-width: 720px) {
	@supports (display: grid) {
		.bulletin--grid {
			display: block;
		}
	}

	.bulletin--item {
		width: auto;
	}

	.bulletin--item + .bulletin--item {
		padding-top: 1.5em;
	}
}
