#notfound {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}
#notfound div {
  max-width: 40rem;
  padding: 6rem;
  border: 3px dotted #818CEB;
  border-radius: 25px;
}
